.ota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;

}

.ota input{
    width: 200px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 7px;
}

.ota button{
    width: 220px;
    height: 30px;
    background-color: gray;
    border: none;
    border-radius: 8px;
    color: white;
}

.ota2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.ota2 button{
    width: 220px;
    height: 30px;
    background-color: gray;
    border: none;
    border-radius: 8px;
    color: white;
}